*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: var(--color);
}

.container{
    width: 70%;
    margin: auto;
}

:root{
    --primarybtn_color: rgb(254, 255, 198) ;
    --secondarybtn_color: rgb(175, 194, 249);
    --primary_color:black;
    --secondary_color: white;
    --color: black; 
    --bg_color: white;
    --shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

body{
    color: var(--color);
    background-color: var(--bg_color);
}

/* colormode start */
.color {
    margin-right: 80px;
    font-size: 16px;
    text-align: right;
    display: flex;
    justify-content: end;
    align-items: center;
}

.color button{
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    border: none;
    overflow: hidden;
    cursor: pointer;
    margin-left: 10px;
}

.color button span{
    width: 100%;
    height: 100%;
    display: block;
   
}

.color button .light{
    background-color: yellow;
    color: var(--primary_color);
    transition: 0.35s; 
}

.color button .dark {
    color: var(--secondary_color);
    background-color: #0E8388;
}

.color button:hover .light{
    margin-top: -40px;
}

body.darkmode{
    --primarybtn_color: #CBE4DE ;
    --secondarybtn_color: #0E8388;
    --primary_color:white;
    --secondary_color: black;
    --color: white;
    --bg_color: #2E4F4F;
    --shadow: rgba(201, 254, 250, 0.15) 1.95px 1.95px 2.6px;
    transition: 0.35s; 
}

/* colormode end */

/* Couter start */
#counter{
    width: 50%;
    height: 80px;
    margin: auto;
    margin-top: 50px;
    text-align: center;
    padding: 35px;
}

.input{
    text-align: center;
    height: 20px;
    border: none;
    font-size: 16px;
    background-color: var(--primarybtn_color) ;
    
}

.incbtn, .decbtn, .reset{
    background-color:  var(--secondarybtn_color);
    border: none;
    width: 20px;
    height: 20px;
    line-height: 20px;
    border-radius: 50%;
}

.reset{
    background-color:var(--primarybtn_color) ;
    border: 1px solid var(--secondarybtn_color);
}



/* Counter End */

/* Password start */
#password{
    width: 50%;
    height: 250px;
    margin: auto;
    margin-top: 50px;
    text-align: center;
    padding: 35px;
    position: relative;
}

#password input{
    display: block;
    margin: auto;
    margin-top: 20px;
    width: 220px;
    height: 30px;
    text-align: center;
    background-color: var(--primarybtn_color);
    border: none;
}

.show {
    position: absolute;
    right: 32%;
   top: 56%;
   border: none;
   background-color: var(--primarybtn_color) ;
}



/* Password End */

/* Calculator start */
#calculator{
    width: 500px;
    height: 100px;
    margin: auto;
    text-align: center;

}

.calc{
    margin-top: 10px;
    width: 150px;
    height: 30px;
    border: none;
    background-color: var(--primarybtn_color);
    box-shadow: var(--shadow);
    cursor: pointer;
    border-radius: 10px;
}
/* Calculator end */

/* Modal Start */

#modal{
    width: 500px;
    height: 200px;
    margin: auto;
    margin-top: 20px;
    text-align: center;
}

.mod_btn{
    margin: auto; 
    margin-top: 10px;
    width: 150px;
    height: 30px;
    border: none;
    background-color: var(--primarybtn_color);
    box-shadow: var(--shadow);
    cursor: pointer;
    border-radius: 10px;
   
}
.modalbox{
    width: 300px;
    height: 250px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    text-align: center;
    position: relative;
    margin: auto;
    margin-top: 20px;
    visibility: hidden;
    
}
.modalbox span{
    display: inline-block;
    margin-top: 20%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.closeBtn{
    position:absolute;
    right: 0;
}

.active{
    visibility: visible;
    
}
/* Modal End */


